
body {
    background: #864939;
    font-family: Arial;
}
h1 {
    color: red;
}
/* XtdNN6lG0npO00pwNYkEg7xMnynyaC6FGg1D6YgC2Zs7NOTaZ6Q7z7bBtnjXDFXsFTAxPC0503P37g4pTooG37cwkQfTgeOYSyI5dd2jmFQYAkFZ6IEDTHoHR4lfmzW59CeNeR2r4qIQFnV6G8L3AUXa5rregGtGfottgHg9ua6QqCM3Qr7VnhWr2A5PBmai4jhOQ2sD */
